[2019-09-26 06:53] cocreature commented on #278
I’m happy to merge PRs with backports, I’m not sure I’ll have the time to make a Hackage release containing the fixes.

[2019-09-27 03:31] deian commented on #278
Thanks!

[2019-09-27 03:31] #278 closed, assigned to nobody

[2019-10-24 08:10] ogerlach opened #282 "Missing Function Attribute "NoFree""
I encountered a problem when reading in an LLVM IR and raising it to Haskell AST with moduleAST. After upgrading to llvm-hs 9.0.1 from llvm-hs-8.0.0 I get the following error:

I could not figure out exactly what FunctionAttributeKind 26 is, but looking at the IR generated by clang, the only new attribute is `nofree`. This attribute is present in LLVM language reference for version 9 but not for v

[2019-11-12 00:13] fduxiao opened #283 "imcompatible with homebrew LLVM?"
I installed llvm with just a `brew install llvm`, while there are only a lot of static libs(*.a) inside /usr/local/Cellar/llvm/some_version/lib/. When I try to build with llvm-hs with stack, it always complains about missing libraries:
[code]
[code]
What is the correct way to install llvm-hs on OS X ?

[2019-11-12 00:24] fduxiao commented on #283
`brew install llvm-hs/llvm/llvm-9` sticks to compiling llvm from source. Why do I have to wait for the compilation?

[2019-11-15 12:42] tmcdonell commented on #283
I'm not sure why the llvm formula from the main homebrew repository is set up that way. I tried to maintain it for a while but eventually just had to do it separately because I require multiple versions, not just the latest one.

It needs to build from source because we don't have the binary distribution thing homebrew uses set up. If you can help me do that I am sure a lot of people would appreci

[2019-11-15 16:24] tmcdonell commented on #283
Okay I looked into this and the free (open source) tier for bintray.com (where the bottles are stored) is limited to files up to 250MB, which is too small for llvm. If the core homebrew team allows us to put files into their account then we could do that, otherwise we need to pay...

[2019-11-15 20:04] cocreature commented on #282
Hi, sorry for the lack of response. This should be fixed by https://github.com/llvm-hs/llvm-hs/pull/284

[2019-11-16 06:39] #282 closed, assigned to nobody

[2019-11-17 02:01] fduxiao commented on #283
But how to link against those static libs? Maybe I can write a patch on this.

[2019-11-17 05:20] cocreature commented on #283
I don’t really know anything about Homebrew but this sounds like it might be worth trying to set the `shared-llvm` flag to false https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs/llvm-hs.cabal#L53

[2019-11-20 22:59] fduxiao commented on #283
@cocreature You are correct! As I changed the flag to false, everything worked just fine; otherwise I got the complaint about no dynamic libs (I tried only with `stack build`). I noticed in [Setup.hs](https://github.com/llvm-hs/llvm-hs/blob/b3a6fd0a7308ebf5fd820bc53106c7d8e98ea472/llvm-hs/Setup.hs#L139), the `link-flag` is obtained from configure file:
[code]

However, this flag should be determin

[2019-11-21 05:37] cocreature commented on #283
We cannot use `llvm-config` to determine the flag since it is possible to have an LLVM installation with both static and dynamic link (iirc `llvm-config --shared-mode` will show `shared` in that case) so users need to be able to choose.

[2019-11-21 06:42] fduxiao commented on #283
But I think it's better than always using true as default, since most Homebrew users will think the flag is false. The solution should be providing three choices, **true/false/determined from `llvm-config`**, as shown in my code.

When both static and dynamic libs are installed, `llvm-config` gives the same flag as in your default config. I'm requesting a possibility to obtain the config automatic

[2019-11-21 06:59] cocreature commented on #283
1. cabal flags can only have two values so we would need a weird combination of two flags to choose what to do and I don’t want to go down that route.
2. If you intend to do a significant amount of LLVM development you almost certainly want to link against the dynamic library. Linking is significantly faster and the static libraries have caused a bunch of issues with GHCi in the past iirc. So whil

[2019-11-21 07:32] fduxiao commented on #283
I need to add it as a submodule because some members of my team use linux while others use OS X(Homebrew). Also, my project is planned to be tested in some CI environment. Because they all have different link modes, I cannot overwrite it in `stack.yml`. The flag can only be determined by `llvm-config`. The link process works well on some Archlinux. However I am struggling with it.

Maybe I should

[2019-11-21 07:51] fduxiao commented on #283
Even if distribution is another story, patching the config file separately is not a good idea. Still I hope the flag is determined automatically. That's why so many languages choose to accept environs as config arguments. Maybe you could try this style?

[2019-11-22 12:22] tmcdonell commented on #283
Can you ask Homebrew to update their formula to build with shared libraries? That would then match what the apt distribution uses for debian/ubuntu. I don't think there is any reason they could not do this.

[2019-12-16 00:27] bryal opened #287 "typeOf Struct should return NamedTypeReference of structName if any"
https://github.com/llvm-hs/llvm-hs/blob/b3a6fd0a7308ebf5fd820bc53106c7d8e98ea472/llvm-hs-pure/src/LLVM/AST/Typed.hs#L37

[2020-01-01 14:42] vmchale opened #288 "Tighten hackage bounds on llvm-hs-8.0.0"
LLVM 8.0 bounds are broken on Hackage, viz.

[code]

[2020-01-01 20:13] sdiehl commented on #288
This shouldn't happen unless the local `base` is `<4.9` which the cabal file already sets as the lower bound. https://github.com/llvm-hs/llvm-hs/blob/llvm-8/llvm-hs/llvm-hs.cabal#L72

Can you share the rest of the cabal logs?

[2020-01-02 13:32] cocreature commented on #288
The issue is not older versions of `base` but newer versions, in particular, `4.13` which removed `fail` from `Monad`. I’ve tightened the upper bound.

[2020-01-02 13:32] #288 closed, assigned to nobody

[2020-01-14 06:46] ibrahimsag opened #289 "Dealing with asserts."
How can we tame the asserts executed on the cpp side? I would like to handle it to show some diagnostics or just keep the `ghcid` alive. It goes through everything and kills the process and i am getting rather nervous.

Appreciate any help.

[2020-02-13 10:02] phischu opened #290 "Allow type definitions of non-structure types"
LLVM IR allows the following:

[code]

But when I try to encode one of the following

[code]

I get an `EncodeException` with message `"A type definition requires a structure type but got: IntegerType {typeBits = 64}"` and `"A type definition requires a structure type but got: ArrayType {nArrayElements = 4, elementType = IntegerType {typeBits = 64}}"` respectively.

I would have expected that thes

[2020-02-29 17:02] AlexMouton opened #291 "LLVMAtomicRMWBinOpFAdd, LLVMAtomicRMWBinOpFSub added to llvm-hs 9 but only introduced to llvm in 10+?"
Mentioned this in private with @tmcdonell but  thought Id just go and bring it here as well.
In using llvm-hs 9  this week for an accelerate-hs experiment, I was hit with linker errors regarding FAdd and FSub in RMW.o.

Looking at the llvm commit history, it seems that these two were added in this commit which did not appear until the 10.0 stream:
https://github.com/llvm/llvm-project/commit/f57e96

[2020-03-29 13:05] vyorkin opened #292 "Enable -Wincomplete-record-updates"
When I have the `-Wincomplete-record-updates` enabled I get the following warning when running testsuite:

[code]

Just letting you know in case you want to enable it to be aware of this warning too.

[2020-03-29 13:14] vyorkin commented on #292
Actually, this warning doesn’t indicate any issue in this particular case (when building the IR with IRBuilder), so maybe it doesn't make sense to enable it.

[2020-03-29 13:14] #292 closed, assigned to nobody

[2020-04-02 19:38] JasonSome opened #293 "LLVM 10 Support"
Is there any time planning for supporting LLVM 10 here? It got released on stable approximately a week ago, and I would really like to try some new optimizations there.

I would appreciate it, if you would let me know what the approximate timing in `llvm-hs` would be, thanks!

[2020-04-07 11:55] andrew-wja opened #294 "Text encoding seems broken"
Hi,

Roundtripping a module with `withModuleFromLLVMAssembly` and `moduleLLVMAssembly` is currently broken in several ways, but this issue is specifically about the text encoding.

Here's my module header (`file` says: testfile.ll: ASCII text, with very long lines)

[code]

When I use `Data.ByteString.writeFile` to write the output of `moduleLLVMAssembly`, I see this:

[code]

When I first use `en

[2020-04-07 12:06] andrew-wja commented on #294
Update: the encoding seems to be more broken than I thought. I ran the program that loads and then saves a file several times, and each time the data changes! Note that I am not roundtripping the file itself, but rather loading the same .ll file and storing it to a *different* file.

Several successive runs of `test testfile.ll outfile.ll` yield (in `outfile.ll`):

[code]
[code]
[code]
[code]
[cod

[2020-04-08 11:06] moll commented on #287
:+1: from me. I just spent some time puzzled why the serialized IR came out inlining types where identified types existed.

[2020-04-08 12:34] moll opened #295 "LLVM.IRBuilder.Instruction.extractValue errors when given a named type (NamedTypeReference)"
Hey,

I noticed [`extractValue`](https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-IRBuilder-Instruction.html#v:extractValue) errors out given a `NamedTypeReference` reference because the `extractValueType` call (`extractValueType i (typeOf a)`) isn't total and breaks on references. I suppose with `MonadModuleBuilder` tracking typedefs, `extractValue` inputs could be looked up prior

[2020-04-08 17:00] sdiehl commented on #295
This does look like a bug. I'll take a look at removing the partiality.

[2020-04-13 10:14] andrew-wja opened #296 "Segmentation Fault roundtripping bitcode"
Hi,

I ran into #262 with some ordinary code generated by clang, so out of interest, I tried to tell clang to dump the bitcode instead of the IR. The bitcode loading routine `withModuleFromBitcode` seems to work OK in this scenario, but the bitcode dumping routine  `moduleBitcode` segmentation faults when trying to dump the bitcode back to disk!

[2020-04-14 13:16] andrew-wja commented on #296
I don't understand why, but my fix for #262 (https://github.com/llvm-hs/llvm-hs/pull/297) squashes this segmentation fault as well. My best guess is that we were missing a check somewhere due to not handling `NamedTypeReference` in const initializers, and ended up triggering a segfault in some FFI function.

[2020-04-14 13:16] #296 closed, assigned to nobody

[2020-04-14 13:20] andrew-wja commented on #262
Very late response, but I ran into this bug myself recently. A very dirty workaround is to replace all unhandled declarations with explicit zero initialization, but it turns out the fix is even simpler: the issue was just a single missing line in a case statement (fixed by #297 )

[2020-04-30 19:11] GuerricChupin opened #299 "Inline NamedTypeReference referent type at point of use"
In the current state of llvm-hs, it is not possible to obtain the type corresponding to a [`NamedTypeReference`](https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs-pure/src/LLVM/AST/Type.hs#L38) without being in a `MonadModuleBuilder` context, like is done in [`gep`](https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs-pure/src/LLVM/IRBuilder/Instruction.hs#L118) for instance.

This is probl

[2020-05-09 11:47] #262 closed, assigned to nobody

[2020-05-10 11:39] CameronDiver opened #301 "Support for declaring but not immediately generating a function in llvm-hs-pure"
Disclaimer: I have searched various documentation and not found what I'm looking for, but it could well exist. Apologies if this is the case.

I'm using the [LLVM.IRBuilder.Module.function](https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-IRBuilder-Module.html#v:function) function to generate functions for my language. This works well, but I'm hitting an issue where the code for a

[2020-05-28 00:05] TravisWhitaker commented on #293
@cocreature correct me if I'm wrong, but this is blocked on https://github.com/llvm-hs/llvm-hs/issues/276, no?

[2020-06-05 08:25] kwanghoon opened #303 "Any lli-like implementation written in Haskell?"
(If this is not a place for a question like this, please let me know. I will delete this by myself.)

I am looking for a Haskell-based LLVM interpreter like lli (the LLVM interpreter) that directly executes programs from LLVM bitcode. I am writing this question here because if there is such an interpreter, the interpreter would probably use llvm-hs.

Thanks in advance!!

Kwanghoon @kwanghoon

[2020-06-05 09:18] sdiehl commented on #303
Not that I'm aware of. This would be a huge undertaking to build in pure Haskell. The closest project I'm aware of is the Galois project for doing symbolic analysis of LLVM IR.
https://github.com/GaloisInc/llvm-verifier

[2020-06-05 09:48] kwanghoon commented on #303
👍

[2020-06-05 18:47] ollef commented on #301
You should be able to create the `Operand` just from the name and the type before using `function`. See [how `function` is implemented](https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/src/LLVM.IRBuilder.Module.html#function) for inspiration, especially the last line.

[2020-06-09 04:46] #303 closed, assigned to nobody

[2020-06-18 22:56] scuellar opened #304 "Building LLVM from source looks for the Homebrew Cellar?"
I built LLVM following the "Building from source" in the README and I get the following error when building my project:

[code]

So clearly `llvm-hs` is looking for the Homebrew install of LLVM. However I need the full toolchain version. How do I link with respect to my custom install?

Everything works fine if I install LLVM from homebrew (and that's probalby why it's looking for llvm there, even

[2020-07-02 10:50] tmcdonell commented on #304
llvm-hs looks for the `llvm-config-*` executable on your path and determines the build flags using that. If you want to point it to your custom installation you should only need to make sure it finds your `llvm-config` executable first.

[2020-07-16 17:05] scuellar opened #306 "Could you add support for DW_OP_LLVM_convert (Dwarf op)?"
Here are other [LLVM-supported Dwarf op's](https://llvm.org/docs/LangRef.html#diexpression) that are currently not recognized by llvm-hs:

- DW_OP_LLVM_convert
- DW_OP_LLVM_tag_offset
- DW_OP_LLVM_entry_value
- DW_OP_breg
- DW_OP_push_object_address

(Reference: [Operands.hs](https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs/src/LLVM/Internal/Operand.hs) )

[2020-07-20 15:25] scuellar opened #307 "Unsupported Specialized Metadata Nodes."
Parsing an `.ll` throws:
[code]
Comparing [LLVM Specialized Metadata Nodes](https://llvm.org/docs/LangRef.html#specialized-metadata-nodes) with llvm-hs supported [Metadata subclasses ](https://github.com/llvm-hs/llvm-hs/blob/3d08076125057e64702c5f4f189852ecae326cdd/llvm-hs/src/LLVM/Internal/Operand.hs#L169), here are the unsupported ones:

- `DIGlobalVariableExpression`
- `DILocation`
- `DIExpress

[2020-08-05 13:38] jfaure opened #308 "No Va_Arg instruction ?"
see http://llvm.org/docs/LangRef.html#i-va-arg

[2020-08-05 13:41] jfaure commented on #308
Ah no it is indeed there, one also needs to declare the following intrinsics to use it:
[code]

[2020-08-05 13:41] #308 closed, assigned to nobody

[2020-08-25 09:59] apaszke opened #309 "Can't link LLVM statically and use TemplateHaskell at the same time"
Hey! Thanks for the LLVM bindings, they have been super helpful!

Unfortunately, we have recently hit some issues with macOS support. Since, as far as I understand, `llvm-config` on Mac has been broken for years, we recommend everyone who builds our project there to set the `shared-llvm` flag to `False`. This did the trick for quite a while, until we have started using a little bit of `TemplateHas

[2020-08-25 12:14] tmcdonell commented on #309
This doesn't solve your problem, but FWIW my experience is:
* I think this is a problem loading static libraries in ghci, and unrelated to this specific project. I've had mixed success with this on linux, but none on Mac.
* For my use case I don't rely on `llvm-config`, beyond what `llvm-hs` itself uses it for. I build llvm-hs in the default mode (shared) and have no problem with TH
* If you need

[2020-08-27 11:04] apaszke commented on #309
Unfortunately this is not a `ghci` problem --- I'm getting those errors whenever I `cabal build` (I don't really care about `ghci` and only want to be able to build my executable). I also don't rely on `llvm-config` for anything else than `llvm-hs`. The [minimal example that reproduces the error](https://github.com/apaszke/llvm-hs-linking-issues) only uses a simple build type and doesn't link any

[2020-08-27 16:26] tmcdonell commented on #309
Ah, sorry I wasn't clear: TH code is interpreted, so it's the same as if you were loading the project in `ghci`.

Yes, I maintain my own taps because (a) I wanted to have multiple versions of LLVM available at once, and homebrew rules no longer allow that; and (b) I need to make sure it works in TH 😉

[2020-08-29 10:06] apaszke commented on #309
Ah I didn't realize that, although it should have been obvious in hindsight 😅

Makes sense. I wonder what did you have to change in the recipes to make them work with TH?

[2020-09-03 02:31] TravisWhitaker opened #310 "Support cross-compilation."
llvm-hs as it currently exists can't be cross-compiled, because of its reliance on custom hsc2hs define directives. Attempting to cross compile yields an error like:

[code]

As far as I can tell there are two paths forward for cross-compilation:

- Get hsc2hs to support cross-compilation. This would likely involve some qemu tricks to run the generated C code on the target architecture (which woul

[2020-09-05 03:02] jfaure opened #311 "Support the "split-stack" Function attribute"
<https://llvm.org/docs/SegmentedStacks.html>

[2020-09-17 17:00] sfultong opened #312 "broken nix shell"
running cabal new-build llvm-hs:

cabal: Could not resolve dependencies:
[__0] trying: llvm-hs-9.0.1 (user goal)
[__1] unknown package: llvm-hs:hsc2hs:exe.hsc2hs (dependency of llvm-hs)

[2020-10-01 20:32] #289 closed, assigned to nobody

[2020-10-02 17:20] cartazio commented on #276
what can be done to help push this along? 1) is anyone working on it?

[2020-10-02 17:53] cartazio commented on #276
cc @sdiehl @acowley

[2020-10-02 17:54] cartazio commented on #276
(to be clear: i'm interested in possibly helping, but i'd like to understand the current state of play)

[2020-10-05 19:32] cocreature commented on #276
There is a start in #286 but I don’t spend a lot of time on llvm-hs atm so if someone else wants to pick it up by all means go for it.

[2020-10-05 19:33] cocreature commented on #293
@TravisWhitaker yes that is correct. Apologies for not responding earlier. I don’t have an estimate on LLVM 10 support. I’d be happy to accept any contributions for this.

[2020-10-07 20:26] TravisWhitaker commented on #310
@cocreature If you have no objections I'm going to proceed with this.

[2020-10-12 18:13] cocreature commented on #310
I’m not sure this is a good idea. hsc2hs is a battle-proven tool shipped with GHC and we’re using it exactly for what it’s intended. I’m much rather see hsc2hs support cross-compilation than have TH code that shells out to a C compiler (otherwise you cannot get the right offsets, sizes, …) which seems at least as messy for cross-compilation than making hsc2hs support it directly.

[2020-10-12 20:39] TravisWhitaker commented on #310
hsc2hs already supports cross compilation, it just doesn't support these constructs when run in cross compilation mode:
- `#{const_str}`
- `#{let}`
- `#{def}`
- Custom functions, like `hsc_inject` and `hsc_patsyn` in this package.

I am not proposing that we replace _all_ uses of hsc2hs with TH, only the custom functions that we use. There's no need for TH to call out to a C compiler at all; hsc2h

[2020-10-18 08:14] aufarg opened #313 "Static Linking llvm-hs"
Hi, is it possible to static link *only* llvm-hs with the final executable, while other libraries are dynamic linked?

I've created a simple project (which you can try [here](https://github.com/aufarg/llvm-hs-test)). Within the project, I run:
[code]
And it gives me the following error:
[code]
Reports `ldd` that it cannot find a number of LLVM shared libs:
[code]
I assume it means that during the

[2020-10-18 15:49] tmcdonell commented on #313
Try adding to your stack.yaml:

[code]

(you might need to beat stack with a stick to get it to apply the option, but I think that will do what you want)

[2020-10-18 15:51] tmcdonell commented on #313
If you do this note that you probably won't be able to load the library in ghci (which includes template haskell)

[2020-10-18 15:54] tmcdonell commented on #313
Oh, I just saw in your test project you did that already. Well, that should do what you want... so maybe static linking itself is broken (I haven't tried for a while due to the aforementioned template haskell issue, so no idea if this is an upstream or llvm-hs issue).

[2020-10-19 05:40] aufarg commented on #313
After getting stuck on this for a while, I decided to try to see if I can at least static link everything by passing `-static` to the linker. The linker complains that it cannot find static libs for `libgmp`, `libtinfo`, and `libxml2` at first, but it compiles and runs just fine after I installed static version of these libs. This shows that static linking is indeed possible.

After digging some m

[2020-10-19 05:40] #313 closed, assigned to nobody

[2020-10-19 07:04] isubasinghe commented on #309
I cant get llvm-hs to work at all :(
I am using hpack (package.yml) , I added shared-llvm:false in stack.yml as well but it doesnt seem to work still

@apaszke have you setup llvm-hs with hpack before by any chance?

[2020-11-02 14:40] apaszke commented on #309
Nope, we're using Stack. You can find the relevant configuration [here](https://github.com/google-research/dex-lang) (in the `stack.yaml`, `stack-macos.yaml` and `dex.cabal` files).

[2020-12-15 04:07] dan-zheng commented on #293
Hi! I'm looking into updating `llvm-hs` to build with `llvm-project` top-of-tree ([currently LLVM 12.0.0](https://github.com/llvm/llvm-project/blob/086954412f5089301e5e453becd329ea2320be94/llvm/CMakeLists.txt#L18-L26)). This would enable things like Haskell bindings for MLIR.

[Current status](https://github.com/dan-zheng/llvm-hs/tree/llvm-12): slow, steady progress towards fixing `stack test`. I

[2021-01-06 05:38] Ailrun opened #315 "Cabal >= 3 does not pass through options to $CC correctly when building C code for FFI modules."
A project built with `llvm-hs` gives an error like this in GHC 8.10.3:
[code]
, though I'm not sure it is generally reproducible with other GHC 8.10 versions.

Is this expected?

(FYI, it works well with GHC 8.8.4)

[2021-01-06 10:52] tmcdonell commented on #315
For ghc-8.10 I add this to my stack.yaml because Cabal is ignoring this option (it's in the .cabal file) for some reason. We should probably file an upstream bug.

[code]

[2021-01-06 10:53] tmcdonell commented on #315
(this might not be the same problem that you are having though, let me know!)

[2021-01-06 18:52] Ailrun commented on #315
Unfortunately, it still gives the same error.

[2021-01-08 22:17] mrArkwright commented on #315
Unrelated to this issue, but I just came across this by chance and it was exactly what was needed to make llvm-hs work with GHC 8.10 on my box. Don't know if I would have found it if i had looked for a solution on purpose. Maybe a hint in the readme would be a good idea?

[2021-01-08 22:31] Ailrun commented on #315
@mrArkwright Out of curiosity, what was your error before that cxx option?

[2021-01-08 22:38] mrArkwright commented on #315
[code]

[2021-01-08 23:52] Ailrun commented on #315
Aha, during the build process... Mine occurs during the linking process, so it is indeed a different case.

[2021-01-30 05:53] chenyulue opened #316 "How to install LLVM-9 in windows"
I have tried the following two ways:

* Compile llvm-9 by mingw64 in msys2 according to the [instruction](https://gist.github.com/yuhangwang/380b94bebe2af386fea9d2e352dbae52), but I always get a `multiple definition of <symbol>` error when linking. After some search, this error may be related to gcc-10. But after adding the compiler flag `-fcommon` suggested [here](http://winlibs.com/), there are

[2021-02-07 15:10] sebeaumont commented on #315
@tmcdonell FWIW I hacked into ghc settings and got it to build with `ghc-8.10`-- confirmed doesn't work with `cabal-3.4`
[code]
also this in `cabal.project`
[code]
does the trick

[2021-02-09 09:35] tmcdonell commented on #316
What files are missing? I've had the problem before that there is a missing link libLLVM-9.so to libLLVM.so, but adding that was enough to fix the build of llvm-hs (this is on macOS). I haven't myself tried building LLVM on Windows.

[2021-02-17 05:22] chenyulue commented on #316
Most importantly, the `llvm-9.dll` file is missing. Actually I have tried to install llvm by conda from conda-forge, and the same issue exists.

[2021-02-17 08:48] tmcdonell commented on #316
Yes that's the one. There should be a llvm.dll; try to copy (or symbolic link) that to llvm-9.dll.

[2021-02-19 02:53] chenyulue commented on #316
@tmcdonell In the *bin* directory, there is only one `libLLVM.dll` file, and your suggestion doesn't work. The following are the missing `.dll` files when running `llvm-config --libs --link-shared`. It also reports missing these files when running `stack install llvm-hs`.

<details>

[code]

</details>

After some search, this is related to some bug in `llvm-9` shown [here](https://github.com/msys

[2021-02-19 12:03] tmcdonell commented on #316
It seems @RyanGlScott [eventually got it to work](https://github.com/msys2/MINGW-packages/issues/4006#issuecomment-771614992) but I'm not sure exactly if the same thing applies here / it can be replicated?

[2021-02-19 14:30] RyanGlScott commented on #316
To be clear, I managed to install LLVM 11 in particular by installing it with MSYS2. Unfortunately, `llvm-hs` doesn't appear to support that version of LLVM yet (unless I'm looking in the wrong place).

[2021-02-19 15:11] chenyulue commented on #316
@RyanGlScott Yes, `llvm-hs` currently only supports `llvm-9`. So it's a pity that `llvm-hs` cannot be installed successfully on windows.

[2021-03-10 13:00] dan-zheng commented on #293
Progress update: all tests pass for `llvm-hs@llvm-12` via `stack test`!

[Here's the development branch](https://github.com/dan-zheng/llvm-hs/commit/55ee2d69e08b22eda0fdf9c3dee6bca7ca2c502a) – the commit description has a changelog and status details:

<details>

[code]
</details>

If anyone's interested, feel free to leave feedback on `llvm-hs@llvm-12` development commits. We plan to clean up and

[2021-03-12 18:43] dan-zheng commented on #293
Started a PR with LLVM 12 support: https://github.com/llvm-hs/llvm-hs/pull/318.

[2021-03-23 13:53] TravisWhitaker commented on #293
@dan-zheng wow this is great, excellent work! Thanks!

[2021-04-09 09:54] andrew-wja opened #321 "Undefined symbols at dynamic link-time [llvm-12-unstable branch]"
Hi folks,

I am getting two undefined symbols at link-time using the llvm-12-unstable branch in my project. I know it's unstable and there are likely issues, but this seems like a simple build fix. Here's the error message from `stack build`:

[code]

Seems like these two calls to Module::dump() and Metadata::dump() are the culprits: https://github.com/llvm-hs/llvm-hs/blob/llvm-12-unstable/llvm-hs

[2021-04-16 07:48] andrew-wja commented on #301
I just had to do this in my project which uses llvm-hs-pure, and it turns out to be quite straightforward: you just need to use https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-IRBuilder-Module.html#v:extern instead of https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-IRBuilder-Module.html#v:function

[2021-04-16 08:18] andrew-wja opened #323 "Adding a GitHub / Hackage maintainer"
Hi folks,

I've used llvm-hs for various small projects in the past, and been extremely grateful every time for the chance to avoid working directly with LLVM and having to interact with the LLVM C++ coding style. I've noticed that most of the GitHub maintainers right now are folks who had a stake in the project at some point but no longer work directly on llvm-hs full time.

I've just started a f

[2021-04-16 09:10] sdiehl commented on #323
Sure, I'll add you to the org. Check your inbox, you have an invite.

[2021-04-16 09:33] andrew-wja commented on #323
Brilliant, thank you Stephen! There are a few outstanding pull requests with simple fixes for issues on the llvm-9 branch, I'll have a look at those first and make sure they don't break any tests (or ensure that there exist tests that they could break!)

[2021-04-16 09:33] #323 closed, assigned to nobody

[2021-04-16 13:28] andrew-wja opened #324 "LLVM.AST.Constant.sizeof hard-codes 32-bit assumption"
The code here https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs-pure/src/LLVM/AST/Constant.hs#L241-L247 is an implementation of a platform-independent `sizeof`. However, we need to know what the size of a `size_t` is -- it is not 32 bits on all platforms. Currently we hardcode `int32` as the result type.

[2021-04-22 17:39] tmcdonell commented on #323
Hi Andrew, I'm late to the party but glad to have you on board! (:

[2021-04-23 09:57] #295 closed, assigned to nobody

[2021-04-23 10:41] #321 closed, assigned to nobody

[2021-04-23 10:53] #301 closed, assigned to nobody

[2021-04-23 10:56] andrew-wja commented on #324
Fixed in #325

[2021-04-23 10:56] #324 closed, assigned to nobody

[2021-04-23 12:01] moll commented on #295
Thank you!

[2021-04-24 10:51] andrew-wja commented on #287
Fixed in #298

[2021-04-24 10:51] #287 closed, assigned to nobody

[2021-04-24 11:09] andrew-wja commented on #291
Thanks for catching this! They are indeed not present on the LLVM release/9.x branch. We should cherry-pick the commit adding these to the llvm-12 branch and remove it from the llvm-9 branch.

[2021-04-28 08:16] andrew-wja commented on #291
Fixed in #328

[2021-04-28 08:16] #291 closed, assigned to andrew-wja

[2021-04-28 08:55] andrew-wja opened #329 "Accidental null pointer to instruction in FNeg handling"
Hi folks,

LLVM 12 has added UnaryOperations and a single inhabitant of that class, the FNeg instruction. I've added support for this in 721727464bed33420a60e6ef44f77f326adc21c8.

When I uncomment the relevant lines in the tests https://github.com/llvm-hs/llvm-hs/commit/721727464bed33420a60e6ef44f77f326adc21c8#diff-31c16b814c466b0c4701c16c3ce1f576f9d84ed9edebdb10247b173666bdcd24R80-R86 I hit an as

[2021-05-04 08:39] apaszke commented on #293
We now have an `llvm-12` release branch, as well as a `llvm-head-unstable` branch that tracks the LLVM repo!

[2021-05-04 08:39] #293 closed, assigned to nobody

[2021-05-05 07:08] andrew-wja opened #333 "Check if warning suppressions for FFI C code are still necessary with LLVM 12"
We currently pass `-Wno-stringop-overflow -Wno-init-list-lifetime` in `cc-options` in `llvm-hs/llvm-hs.cabal` because multiple included LLVM headers cause these warnings to be generated when building against LLVM release/9.x

We may be able to remove these suppressions if LLVM 12 headers do not cause these warnings to be generated

[2021-05-06 08:36] sternenseemann opened #334 "Tests fail on aarch64"
Seems like [this is the culprit](https://github.com/llvm-hs/llvm-hs/blob/dec4189977eacec00f876dcf1d1579e59269aa88/llvm-hs/test/LLVM/Test/Module.hs#L293) and you need a `x86_64-linux` (cross)-toolchain for the tests.

[code]

[2021-05-09 15:52] jrp2014 opened #335 "Update llvm-hs-examples to reflect the changed ORCJIT interface in llvm-12"
On relaxing the llvm-hs bounds, `basic` and `irbuilder` work out of the box.

`arith` and `orc` don't (presumably because the interface has been updated, so that `JIT.findSymbol`, `JIT.withObjectLinkingLayer` , `  JIT.withModule` etc have gone.

[code]
It'd be good to get the examples in sync with  the llvm-12 branch here for newcomers like me to work from.

Happily `llvm-hs-kaleidoscope` works fi

[2021-05-10 10:04] andrew-wja opened #336 "Unhandled DINode type"
On the released LLVM 9 branch, when ingesting code compiled by the released 9.X version of clang, we see this exception:

[code]

Seems like we are missing a mapping for a specific DINode. If it's not handled in the LLVM 9 branch it likely isn't handled in the LLVM 12 branch either.

[2021-05-10 10:11] andrew-wja commented on #334
Thanks for the report! This looks like a simple bug in the tests -- instead of hardcoding the native target triple, we should be asking `llvm-config --host-target` what it is in the test setup phase.

[2021-05-10 10:22] andrew-wja commented on #335
Thanks for the report! This is definitely something that needs addressing. I'm adding this to the LLVM-12 release milestone.

[2021-05-10 10:24] andrew-wja commented on #335
This should be a relatively straightforward fix, it seems like the code in the examples needs to be modified to deal with the changes in the ORCJIT interface.

[2021-05-10 10:26] andrew-wja commented on #336
Closing since this is a duplicate of #307

[2021-05-10 10:26] #336 closed, assigned to nobody

[2021-05-10 10:27] andrew-wja commented on #294
I can no longer repro this on either the llvm-9 or llvm-12 branches, so it appears that whatever was causing this behaviour has gone away...

[2021-05-10 10:27] #294 closed, assigned to nobody

[2021-05-10 10:31] andrew-wja commented on #312
This sounds like something is going wrong in cabal2nix or similar. Can you still reproduce this issue?

[2021-05-10 10:37] andrew-wja commented on #276
@cartazio if you're still feeling like doing some work on this the initial implementation by @cocreature has been merged on the llvm-12 branch, and there is some code in llvm-hs-examples which is still using the old API (responsible for #335). That code in the examples would be a good guide -- if we can get everything that it does working with the new API, that would be a big step forward. If ther

[2021-05-10 10:40] andrew-wja commented on #283
This seems like a straightforward case of homebrew not building the llvm shared libs. I don't think this is something that we can fix, even if we wanted to, so I'm going to close this.

[2021-05-10 10:40] #283 closed, assigned to nobody

[2021-05-10 10:47] andrew-wja commented on #309
@apaszke @tmcdonell what was the eventual outcome on this? If there's nothing we can do about this in llvm-hs, we should probably close the issue rather than leaving it dangling.

[2021-05-10 10:52] andrew-wja commented on #265
@tmcdonell @cocreature it sounds like this was an external issue, and it's been dangling for a long time so I'm closing it just to improve the signal-to-noise ratio of the list of open issues.

[2021-05-10 10:52] #265 closed, assigned to nobody

[2021-05-10 10:57] andrew-wja commented on #290
It appears that we allow only a subset of the expressiveness of LLVM here, but nothing is broken per se, so I'm tagging this as an enhancement. A workaround would be to define your type as a single-field structure containing a field of the type that you want to alias. That's not exactly super clean, but you could hide the abstraction with a little effort, and it should have zero runtime cost if th

[2021-05-10 11:00] andrew-wja commented on #306
It would be good to get this done on the llvm-12 branch before we cut an eventual `llvm-hs-12.0.0.0` release!

[2021-05-10 11:05] andrew-wja commented on #316
This does not appear to be an llvm-hs issue, and I don't see anything we can do to fix it, so I'm going to close it. @chenyulue we are working on llvm-12 support on the `llvm-12` branch, so it may be that your issues are fixed by trying again with LLVM 12 now that it has been released.

[2021-05-10 11:05] #316 closed, assigned to nobody

[2021-05-10 11:39] jrp2014 commented on #276
The orcjit test has a couple of further examples that are commented out as needing to be updated for the new interface. I'd love to help, but must say that the llvm documentation itself is sparse. It says that transitioning to the new interface should be easy, as the new api is translatable from the old, but they provide no Rosetta Stone for doing so.

[2021-05-10 13:38] andrew-wja commented on #276
@jrp2014 unfortunately that's a familiar story where the state of LLVM documentation is concerned :( I've been doing a lot of work recently with the sanitizers, and 99% of the time I've had to resort to just reading the LLVM source code and experimenting when I've wanted to do something even a little bit novel.

For the sake of completeness, here is the link to the LLVM document on transitioning f

[2021-05-10 15:18] sfultong commented on #312
Yes, I still have this issue with llvm-9 head.

Running `which hsc2hs` gives me `/nix/store/ascdv7znc2wlskxsyv3r6nmbra4ypy9z-ghc-8.8.1-with-packages/bin/hsc2hs` within the nix-shell

[2021-05-11 19:20] jrp2014 commented on #276
Thanks @andrew-wja .  I've had a go at updating a nice llvm-hs Kaleidoscope Tutorial (https://lukelau.me/kaleidoscope/) following the current test case LLVM.Test.OrcJIT.  I'm flying blind, driven mainly by the types, which seems to be enough to get things working up to a point.

In section 3.2 of the tutorial it explains how to delete previous anonymous expressions (eg, 3+4)  that have been fed to

[2021-05-12 08:01] andrew-wja commented on #276
@jrp2014 There are a couple of different things going on here, but to me this looks like a bug in this Kaleidoscope implementation.

What this Kaleidoscope does to implement anonymous expressions is to create a function called "__anon_expr" in `buildAST`. This is just an ordinary function, so if you type two anonymous expressions one after the other, the code is redefining the function symbol. Tha

[2021-05-12 08:14] andrew-wja commented on #276
@jrp2014 It might be worthwhile to have a go at updating the "official" llvm-hs kaleidoscope (https://github.com/llvm-hs/llvm-hs-kaleidoscope) to use the OrcJIT interface instead of the MCJIT interface? It would be great to have that updated to reflect the current state of affairs. It probably makes sense to update it to reflect what's available on the `llvm-9` branch first, and then to see what n

[2021-05-12 08:20] andrew-wja commented on #276
Ah, I see the root of the problem: `disposeMangledSymbol` disposes our handle to the mangled symbol. It does not *destroy* the mangled symbol; the mangled symbol still exists in the linking layer, but our handle to it is freed, and we would have to call the finder method to get a new handle to it.

https://github.com/llvm-hs/llvm-hs/blob/llvm-12/llvm-hs/src/LLVM/Internal/FFI/OrcJITC.cpp#L219-L221

[2021-05-12 12:02] jrp2014 commented on #276
Thanks @andrew-wja Your explanation accords with what I observe.

The tear it down and build it up for each repl command doesn't work because earlier definitions are destroyed.

I'm assuming that I need only a single execution session / compile layer / dynlib, rather than one per repl command, or does the threaded cloning context which you use to add your module need distinct instances?

I'll have

[2021-05-15 09:49] jrp2014 opened #337 "Installing the homebrew version of llvm"
The readme advising various post llvm installation adjustments to the llvm installation to get around some system protection issues.  The latest llvm@12  (12.0.0_1) version automatically links the versioned to unversioned library so it no longer needed.

Afert changint the names in the way advised in the readme, anything we link to libLTO.dylib is going to break with version/revision bumps to the

[2021-05-15 10:02] jrp2014 commented on #335
A couple of data points.  The author of the ORC JIT v2 recommends using the https://llvm.discourse.group/t/duplicate-symbols-in-separate-modules-no-longer-allowed/1805 renaming approach for repls, pending the ability to remove definitions, which currently seems to be under development in the orcv1-removal branch of https://github.com/lhames/llvm-project.git   (https://github.com/lhames/llvm-projec

[2021-05-15 11:52] andrew-wja commented on #335
Thanks for looking into this! So in summary, the shadowing feature that was present in LLVM 8 which allowed redefinition of function symbols has gone away. This makes a lot of sense, because the general thrust of the development on ORC has been to make the JIT process work more like standard dynamic linking.

Given that removable code is not yet supported or even fully implemented, I think it make

[2021-05-15 18:26] jrp2014 commented on #335
Agreed.  It would, however, still be useful to add a function to the llvm-hs API that provided for making function symbols unique.  As the discourse group chat illustrates, it is commonly used functionality and it's a pain to have to replumb the ReaderTs to StateTs with an additional count and add a count to the env to achieve the same effect.

[2021-05-17 21:55] jrp2014 commented on #335
@andrew-wja    I've now updated the llvm-hs-examples.  Arith segfaults (on MacOS), however, presumably because the externals (sin, etc) are not properly resolved.  Suggestions welcome.

[2021-05-18 18:57] jrp2014 opened #338 "Support GHC 9.0.1"
`llvm-hs` and `llvm-pretty` suffer from changes to type inference introduced in 9.0.1 and so won't build:
[code]

[2021-05-19 19:24] jrp2014 commented on #338
Well after a bit of fiddling, `fmap f p = AnyContT $ fmap f ( unAnyContT p )` compiles.  Similarly, getting rid of some of the point frees gets us going `runAnyContT r = runContT ( unAnyContT r )` or `parseCommandLineOptions args overview = (\r -> runAnyContT r return) $ do`.  However,  there is a large number of  errors like the following:

[code]
Adding additional constraints would be one option

[2021-05-19 19:24] andrew-wja commented on #335
This has now landed on the llvm-hs-examples [llvm-12 branch](https://github.com/llvm-hs/llvm-hs-examples/tree/llvm-12) thanks to @jrp2014

[2021-05-19 19:24] #335 closed, assigned to nobody

[2021-05-20 09:13] andrew-wja commented on #315
Hi all, I ran into this same issue on my llvm-hs client project (failure at link-time with the message ` 'gcc' failed in phase 'Linker'.` as in OP) and can confirm that manually passing

[code]
in my project's stack.yaml fixes the issue. Suggest we close this since there isn't much we can do about it other than maybe update the README for llvm-hs to mention that there may be problems building with

[2021-05-20 10:21] andrew-wja commented on #315
Ah, my mistake: with LLVM 12, the correct incantation is

[code]

LLVM 12 has usage of C++14 features like `std::enable_if_then` and so forth, and for some absolutely inscrutable reason, cabal manages to invoke the C++ compiler but not link against libstdc++, which is the ultimate cause of the missing vtable error messages. I don't understand it either, but this at least works around the problem i

[2021-05-20 10:44] andrew-wja commented on #315
Added a prominent note to the [README](https://github.com/llvm-hs/llvm-hs/tree/llvm-12#build-problems-with-ghc-810cabal-3) (right above the installation guide) providing the correct `ghc-options:` stanza to use in client projects. I'm going to close this now, but please feel free to re-open if the issue persists @Ailrun

[2021-05-20 11:34] andrew-wja commented on #276
@jrp2014 thanks for updating the kaleidoscope! I've merged your changes onto the llvm-12 branch. It seems like all that remains for basic OrcJIT v2 support is to uncomment and fix up the commented tests [here](https://github.com/llvm-hs/llvm-hs/blob/llvm-12/llvm-hs/test/LLVM/Test/OrcJIT.hs)

[2021-05-20 14:38] cartazio commented on #276
So there’s nothing I can likely help with at this point or ?

[2021-05-20 15:05] andrew-wja commented on #276
@cartazio If you have some time, fixing up those tests would be very helpful!  This is fundamentally a bit of a messy task in general, because upstream is still very much in flux. The documentation mentions that various OrcJIT API functionality is moving from one context to another, and that several things are not yet implemented.

If you have a project that uses OrcJIT, it would be very helpful t

[2021-05-20 15:16] andrew-wja commented on #276
@cartazio we should probably remove the old ExecutionEngine and MCJIT code as well, which will require some surgery. The tests for that code should be retargeted to test the new OrcJIT code and ExecutionSession so that we can be certain we aren't losing functionality. It's actually difficult to find out whether the MCJIT is still alive or not... the OrcJIT documentation refers to it as "an older L

[2021-05-20 15:28] andrew-wja commented on #276
@cartazio I've had a look through the functionality exposed by upstream via the C API (https://llvm.org/doxygen/Orc_8h.html) and we definitely are not at 100% coverage, so it would be helpful to build out more of that API in `src/LLVM/Internal/FFI/OrcJITC.cpp` and add FFI wrappers and tests for the new functionality.

[2021-05-20 16:09] Ailrun commented on #315
I tried `ghc-option`, but that does not fixed the issue. Is there any other suggested value for that option than the one above?

And for some reason I can't reopen this...

[2021-05-20 16:24] andrew-wja commented on #315
@Ailrun are you still getting the "missing `typeinfo`" error even when passing -optcxx=-fno-rtti ? It sounds like either your C++ compiler doesn't support -fno-rtti or stack has not actually tried to relink some objects. Can you post the output of stack clean && stack build with the full ghc-options line from the README in place? Thank you!

[2021-05-20 17:40] jrp2014 commented on #276
@andrew-wja   @cartazio Looking at the additional tests, I'd make the following observations:
* It'd be good to add a bit more documentation to the existing API / examples.  I have not strayed far from the main path when writing my examples, but there are possible variations.  For example, am I supposed to `JIT.loadLibraryPermanently Nothing` when writing a module with external symbols.  (I didn't

[2021-05-21 00:47] Ailrun commented on #315
NVM; it was a cache issue. Now the option works. Thank you for your answers!

[2021-05-21 00:47] #315 closed, assigned to nobody

[2021-05-21 09:24] andrew-wja commented on #276
@jrp2014 this is a lot to discuss in the comments of a specific issue, so I'd suggest opening issues for these things so they can be tracked properly, but briefly: yes, it would be great to add more documentation and tests. Could you open an issue specifically for the usage of `loadLibraryPermanently`? Same thing for external symbol availability. It would be good to have a test that checks this.

[2021-05-21 11:34] jrp2014 commented on #276
Thanks, @andrew-wja

I'll open up a couple of issues, as you suggest, and have a crack at some simple wrappers / helpers. in to see what llvm-hs might look like.  I'd hope that the extras would provide a fairly stable interface with the substance being built from some common test cases, so hopefully it should not require much additional maintenance.

[2021-05-21 11:53] jrp2014 opened #341 "(When) is loadLibraryPermanently needed?"
The following code from arith in llvm-hs-examples (llvm-hs-12) works fine (either with or without the commented out `JIT.loadLibraryPermanently Nothing` on linux., when there are external symbols.   Is there some guidance on when that call is actually needed?

[code]

The same code segfaults on macos on the last line (with or without the call to loadLibraryPermenently), because the pointer to fn s

[2021-05-22 10:03] jrp2014 commented on #341
Looking more closely, I see that loadLibraryPermanently produces a success/failure Bool.  In the case above, it actually returns false (so it failed to load the process symbols, yet the result of the process succeeds).  This still leaves the question of when loadLibraryPermanently is neeeded.

[2021-05-22 11:57] jrp2014 opened #342 "Warning: Instead of 'cc-options: -lstdc++' use 'extra-libraries: stdc++'"
When building with the latest flag changes pointed up in the readme, I get ...
[code]

(on macOS, cabal 3.4).

For further context, the homebrew version of LLVM advises
[code]

[2021-05-23 14:45] chenyulue commented on #316
@andrew-wja It compiles successfully with `llvm-12`. Thanks for your work!

When compiling `llvm-hs`, there is a warning telling `Warning: Instead of 'cc-options: -lstdc++' use 'extra-libraries: stdc++'`. Despite this warning, it works.

[2021-05-24 09:21] andrew-wja commented on #342
@jrp2014 I've fixed the first issue, cabal 3+ wants shared libraries to be passed via extra-libraries: instead of explicitly in the compiler options.

Unfortunately, I don't think there's anything we can do about the second issue. If someone has a custom installation of LLVM, they need to take responsibility for ensuring that *any* client of that custom installation (not just llvm-hs) sees the cor

[2021-05-24 09:21] #342 closed, assigned to nobody

[2021-05-24 09:25] andrew-wja commented on #333
I've tested this and found that the suppressions are no longer necessary when building against LLVM 12. The LLVM 12 headers appear to have been cleaned up so that those warnings are no longer generated by the compiler.

[2021-05-24 09:25] #333 closed, assigned to andrew-wja

[2021-05-24 09:40] andrew-wja commented on #337
@jrp2014 Did you mean to open this issue against the homebrew-llvm subproject? I can't see any directions in the llvm-hs README about post install adjustments and according to https://github.com/llvm-hs/llvm-hs/blob/llvm-12/llvm-hs/Setup.hs we just ask llvm-config where things are located, and don't manually adjust the answers.

[2021-05-24 09:56] andrew-wja commented on #276
As of #340 we now have JIT, optimization of modules with the pass manager, and calls/resolution of external library function symbols operational and being tested, so I think we can call this basic support for OrcJITv2

I see some comments on the two remaining tests that suggest someone was aiming to support calls to Haskell functions from JIT-ed code via lookup of symbols in the current process. T

[2021-05-24 17:13] jrp2014 commented on #337
Step 5 of the README advises renaming some libraries apparently to circumvent some security issues.

[2021-05-24 17:22] andrew-wja commented on #337
Oh, apologies, I was looking in the 5th section as opposed to the numbered section 5 in the "Building LLVM from source" section :sweat_smile:

I think we should just remove those instructions. It appears they are no longer relevant, and we don't seem to be looking for specific versioned dynamic libraries in our build.

[2021-05-24 17:28] andrew-wja commented on #337
Ack -- that section has already been removed in the LLVM 12 branch! https://github.com/llvm-hs/llvm-hs/tree/llvm-12

I think we should probably switch the default branch on Github from llvm-9 to llvm-12 at this stage, so that the README that is shown to people who land on the llvm-hs repo is the README for LLVM 12. I'll make an issue to track this, since Github requires a repository owner to chang

[2021-05-24 17:28] #337 closed, assigned to nobody

[2021-05-24 17:39] andrew-wja opened #343 "Changing default branch to llvm-12"
@acowley @sdiehl @cocreature Since support for LLVM 12 is nearing completion, it would be helpful to switch the default branch on Github from `llvm-9` to `llvm-12` on at least `llvm-hs`, and also probably `llvm-hs-pretty`, `llvm-hs-examples` and `llvm-hs-kaleidoscope`. Could one of you folks who have owner privileges switch the default branches whenever you get a chance?

[2021-05-24 17:53] andrew-wja commented on #343
PS I haven't had a chance just yet to check `llvm-hs-quote` and `llvm-hs-typed` with LLVM 12, but I believe they should work fine with just the addition of the new `FNeg` operator LLVM has introduced, and the change in the `shufflevector` instruction, which now takes an immediate constant vector of `i32` as a mask operand, rather than a non-constant arbitrary `Operand` of type `n x i32`.

Those ar

[2021-05-24 18:11] jrp2014 commented on #337
Tricky.  Currently ghc uses llvm-9 (for -fllvm) although it has not failed for me if llvm-12 is installed when compiling -fllvm.

[2021-05-26 15:29] cartazio commented on #276
Foreign exported functions have zero mangling from ghc to c. I think.
Though it’d be good to double check the suport headers ghc also generates
from that aren’t doing something with cpp header file tricks instead
though.

On Mon, May 24, 2021 at 5:56 AM Andrew Anderson ***@***.***>
wrote:

[2021-06-01 20:14] LlinksRechts opened #344 "OrcJIT: Missing error message on symbol not found"
When trying to resolve a symbol with `findSymbol` in OrcJIT, the function returns `JITSymbolError ""` without any message if the symbol is not found. This makes it hard to debug errors such as typos in the symbol name, forgetting to add a module, etc.

Minimal example:

[code]

Here, no module is added, so the `main` symbol is not defined. This results in the error without a message described abov

[2021-06-03 13:37] LlinksRechts commented on #344
I fixed this locally with the following patch:

[code]

The problem is:
1. The error message returned by `getAddress` is not used, and the one from `getErrorMsg` is used instead (which is empty)
2. When `symbol->getAddress()` returns 0 (which means that the symbol cannot be found), the error message is not set (it, however, suffices to set it to `""`, as it is set elsewhere as long as it's not nul

[2021-06-08 15:18] nickdesaulniers opened #345 "[upstream llvm] removal of CodeGenOptions::StackAlignmentOverride"
I'm removing this upstream in https://reviews.llvm.org/D103048; IIRC llvm-hs is using this.  Once rebased, `Module::getOverrideStackAlignment` should be used instead.

[2021-06-09 14:13] andrew-wja commented on #344
Thanks for this! It looks like some plumbing is not connected correctly in `getErrorMsg`, I will look into it. Thanks for the reduced test case also, this makes it a lot easier! If you don't mind, I will just add that code directly to our tests.

[2021-06-09 14:17] andrew-wja commented on #345
Thanks for the heads up! Any idea if this will make it into a 12.X release? If not I will move it to the LLVM 13 milestone, but if it's going to be present in LLVM 12.0.0 but absent in LLVM 12.0.1 (or similar modulo bumps to the least significant version digit) then we will probably need to take a little more care in handling it.

[2021-06-09 15:55] andrew-wja opened #346 "Handle NamedTypeReference in typeOf"
I'm not sure how this escaped notice for so long, but our implementation of `typeOf` in LLVM.AST.Typed is partial and breaks whenever we ask for the type of a constant expression which includes a `getelementptr` clause that indexes into a `NamedTypeReference`.

The culprit is `getElementPtrType` here: https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs-pure/src/LLVM/AST/Typed.hs#L100-L107

It s

[2021-06-09 17:14] nickdesaulniers commented on #345
It will not; the release/12.x branch exists (but I don't think release/13.x does yet, it will be branched from main soon) but the release manager is trying to cut the final 12.0.1 release soon. I don't plan to cherry pick it back, or request that be done.

[2021-06-09 19:13] andrew-wja commented on #345
That's good news, it means we don't have to think about releasing a second 12.X version of llvm-hs. I'll assign this to the LLVM 13 milestone.

[2021-06-09 19:23] #346 closed, assigned to andrew-wja

[2021-06-10 09:46] andrew-wja opened #348 "Adding a Hackage maintainer"
@cocreature @sdiehl @acowley since our last update of llvm-hs on hackage is coming up on 1 year ago, and we have a decent list of bugfixes and improvements on the llvm-9 branch (not to mention the llvm-12 branch will need to be uploaded there when everything in the [milestone](https://github.com/llvm-hs/llvm-hs/milestone/1) is finished) would one of you mind adding me to the list of maintainers on

[2021-06-10 17:27] cocreature commented on #348
@andrew-wja I added you as a maintainer for `llvm-hs` and `llvm-hs-pure`. Thanks a lot for taking over maintenance. I’m very happy to see that the project is still very much alive even if I stepped down for the most part.

[2021-06-10 18:42] andrew-wja commented on #348
@cocreature thank you! I'm happy to help out, especially since llvm-hs is saving me buckets of time in the long run because I can prototype things so quickly compared to the C++ API :)

[2021-06-10 18:42] #348 closed, assigned to nobody

[2021-06-15 11:54] andrew-wja commented on #299
@GuerricChupin there has been some movement on this issue recently!

Unfortunately, the design of LLVM IR is such that types depend on module state in the way you've laid out above. Before encountering the definition of a type `t`, it is not possible (in the abstract) to resolve a `NamedTypeReference` with the name of `t`.

If we were to make `NamedTypeReference` carry the referent type, we would

[2021-06-15 12:24] andrew-wja commented on #299
Incidentally, llvm-hs-pretty has been updated to match this change, which was a very large but simple refactor: https://github.com/llvm-hs/llvm-hs-pretty/pull/81

We'll be pushing out a 9.0.1.1 release of llvm-hs, llvm-hs-pure, and llvm-hs-pretty very soon, which will probably be the last releases on the llvm-9 branch before we switch focus to llvm-12 which is now starting to ship in many linux di

[2021-06-15 15:22] andrew-wja commented on #343
Alternatively (if people are comfortable with it) if someone who already has the "Owner" role (@cocreature ?) could set my user role to "Owner" in the github organization settings (https://github.com/orgs/llvm-hs/people), I can switch the default branch over (and also the default branches in the other repos) myself.

[2021-06-15 17:38] cocreature commented on #343
just switched the default branch, sorry missed this

[2021-06-15 17:38] #343 closed, assigned to nobody

[2021-06-16 09:45] andrew-wja commented on #306
@scuellar just to update you, I've started working on this. Unfortunately, the LLVM documentation appears to be severely out of date. The documentation says that only a small subset of DWARF operators are [supported](https://llvm.org/docs/LangRef.html#diexpression) but in fact, a huge (sub?)set of operators are [supported](https://github.com/llvm/llvm-project/blob/main/llvm/include/llvm/BinaryForm

[2021-06-16 10:52] andrew-wja commented on #307
@scuellar I got to the bottom of this today. As it turns out, we can bind to the C++ metadata just fine, but llvm-hs supports only a restricted subset of top-level nodes in the `DINode` type. Top-level nodes that are not one of these supported node types are not handled in the code that constructs the Haskell AST.

For now, I have replaced the rather inscrutable error message with a more explicit

[2021-06-16 17:34] andrew-wja commented on #344
@LlinksRechts after a bit of digging, I believe you've found a bug in LLVM, congratulations :)

According to the [documentation](https://llvm.org/doxygen/classllvm_1_1JITSymbol.html#a728b38fd41b0dfb04489af84087b8712) `getAddress()` is supposed to return zero if the symbol cannot be found. However, it does not return zero -- it returns an `Expect<JITTargetAddress>`, which is basically a C++ `Maybe

[2021-06-16 17:34] #344 closed, assigned to andrew-wja

[2021-06-17 15:48] andrew-wja commented on #307
Commit b518fe11241e8aea40760eee9cd95421ef772646 introduces a change to the behaviour of llvm-hs upon encountering an unhandled `DINode` type. Instead of crashing, we now just ignore the `DINode`, but the plumbing is in place to emit a warning to the user eventually.

This at least works around the situation where llvm-hs crashes when trying to load up programs with complicated debug info. Some deb

[2021-06-17 16:09] andrew-wja opened #349 "llvm-hs segmentation fault with output of `clang -g`"
The `EncodeM` and `DecodeM` instances for debug metadata are currently quite fragile, and there are several places where a segmentation fault could be triggered by debug metadata structures which we don't handle, or don't handle correctly.

In particular, there are multiple places where we use `maybe (return nullPtr) encodeM` to pass a null pointer to the LLVM C/C++ API where we have `Nothing` on

[2021-07-02 12:02] andrew-wja opened #351 "Gracefully deal with failure of type resolution in `typeOf`"
Our current implementation of `typeOf` (class `Typed` in `LLVM.AST.Typed`) has a problem: if the type resolution logic encounters an opaque structure type, `typeOf` throws an error and bails.

This can happen any time someone asks for the type of something resulting from a `getelementptr` instruction.

This is problematic because it doesn't allow the user to gracefully handle the failure of type r

[2021-07-07 16:27] #338 closed, assigned to nobody

[2021-07-07 17:31] andrew-wja opened #354 "Passing options to backend C/C++ compiler still broken"
@tmcdonell I've tested your changes to the build from #352 and unfortunately, the build with stack is still breaking. The `cxx-options` are just not picked up by `stack build` and friends.

With a fresh clone and build of the LLVM `release/12.x` branch at `../llvm-12.0.0-root`, when I run `LD_LIBRARY_PATH=$(realpath ../llvm-12.0.0-root/lib) PATH=$(realpath ../llvm-12.0.0-root/bin):$PATH stack test

[2021-07-07 17:33] andrew-wja commented on #354
Thinking about it, we should probably have a user visible flag for this circumstance like the existing `shared-llvm` flag.

[2021-07-07 17:42] tmcdonell commented on #354
hmm weird. I've been using this fix in my other project for a while now without problems. I'll look into it more.

cc-options was definitely wrong though; that was meant to be for the preprocessor stage only.

[2021-07-07 17:54] andrew-wja commented on #354
Yes, cc-options was definitely not correct, in fact, you can remove all of cc-options and cxx-options and everything still works just fine so long as the ghc-options stanza in stack.yaml is there. It's almost as though stack is overriding the options in the cabal file somehow. Building with cabal works perfectly, it's frustrating.

[2021-07-08 09:43] tmcdonell commented on #354
These options should still go in the .cabal file however, otherwise the out-of-the-box build remains broken for everybody.

I actually have to do this in accelerate as well (specify in both cxx-options and ghc-options -optcxx...). I believe it's a question of who is asked to invoke the C++ compiler: cabal-install or ghc, where (at least in Accelerate's case) the latter arises due to interactions w

[2021-07-15 12:11] andrew-wja commented on #354
This is still broken after https://github.com/llvm-hs/llvm-hs/commit/351683ed1c2f6b329e62439d42a158b1d804b846 unfortunately.

[code]

[2021-07-15 12:26] #354 closed, assigned to andrew-wja

[2021-07-15 15:13] #351 closed, assigned to andrew-wja

[2021-07-15 22:53] tmcdonell commented on #354
You are doing two things here but you should only need one.

If this is the same as your previous error of building with no RTTI, then you should only need to set the flag. What your previous patch (adding the flag) missed but mine added was that when this flag is set, the appropriate cxx-flags are (now) added in the cabal file.

Adding extra build flags in the stack.yaml for the current project c

[2021-07-16 07:14] andrew-wja commented on #354
You're absolutely right, I tested the two independently but only the 'ghc-options' stanza has an effect. I forgot to remove the 'build-flags' stanza unfortunately! I'll get it out of there.

[2021-08-14 09:37] andrew-wja commented on #329
Just an update since I've put a few hours into this recently: I have no idea what's going on. I've stepped through the whole process of creating the instruction, and at every point where I've put in checks (or asserts in the FFI code) things appear to be OK.

As an aside, from doing this investigation I've come to believe that the hsc and Template Haskell code is a bit too clever for its own good.

[2021-08-28 19:40] jfaure opened #356 "Opaque pointers"
<https://llvm.org/docs/OpaquePointers.html>
is going to break a number of things, For example SRet takes a type argument now

[2021-08-28 19:48] jfaure opened #357 "Data.Vector more appropriate to represent the subtypes of aggregate types"
currently basic haskell list type is used, but we often want to index the list (even in llvm-hs itself eg IRBuilder.gep)
eg. AST.Type.StructureType , Constant.Array etc..

[2021-08-31 13:56] andrew-wja commented on #357
@jfaure there's certainly an argument to be made for it. Do we actually use numerical indexing on a list of types with `Data.List.!!` in the code? If so we probably should switch to an array rather than a list, I would be happy to review a patch with this change.

Edit: I looked in LLVM.AST.Typed and we do indeed index into the list of types using an integer. It would be worth looking for all inst

[2021-08-31 14:05] andrew-wja opened #358 "Update LLVM C API usage and remove hand-rolled code"
Since anyone last touched our FFI layer, the LLVM C API has been updated significantly. Most importantly, the LLVM C API now has functions which do things for which we have hand-rolled code in our FFI.

Where the LLVM C API now has a function that does something, and we have hand-rolled code that does something, we should remove our hand-rolled code and instead call the LLVM C API function.

This

[2021-08-31 14:12] andrew-wja opened #359 "Update LLVM.Internal.FFI.Analysis"
New functionality is available via the LLVM C API: https://llvm.org/doxygen/group__LLVMCAnalysis.html

[2021-08-31 14:24] andrew-wja commented on #358
There are also places where we have an awkward division between our C/C++ code and Haskell. For example, there are many instances where we have FFI wrapper functions written in C++ which are themselves doing work using the LLVM C/C++ API. Arguably, we should be wrapping the more primitive C API functions which are being called, and doing that work in Haskell instead. Otherwise, we are effectively

[2021-08-31 15:12] jfaure commented on #357
In the same vein, Integer is used everywhere for llvm int literals.
Since I use Word64 whenever possible (ie. pretty much always since anything larger than i64 is very rare), i have to call 'fromIntegral' frequently.
The issue here is that the overhead from unnecessarily using gmp is massive.

[2021-08-31 18:11] jfaure opened #360 "Interface to LLVM::DataLayout:: methods"
It iss realistically necessary to be able to use getPointerSize and getTypeAllocSize (at least) from <https://llvm.org/doxygen/classllvm_1_1DataLayout.html>

The sizeof as a gep to then end of a nullpointer hack has the disadvantage of not being able to influence code generation.

getTypeAllocSize in particular requires us to pre-convert llvm-hs types to C++ so this may be tricky.

[2021-09-01 15:27] andrew-wja opened #361 "Handle module destructors (and constructors?) in OrcJIT interface"
It looks as though we could do more to make the OrcJIT interface usable: https://github.com/google-research/dex-lang/blob/4133b23fe56b8360ccd54ec7d0b3beb40decc7f8/src/lib/LLVM/HEAD/JIT.hs#L76-L104

@apaszke could you comment on this? It seems to me that `llvm-hs` should provide the functionality that you've had to implement by hand here. Have you had to manually run module constructors as well?

[2021-09-01 15:50] andrew-wja commented on #360
This is actually very straightforward to do, because LLVM exposes this through the C API: https://llvm.org/doxygen/group__LLVMCTarget.html

However, I don't quite understand exactly what you mean by "not being able to influence code generation". Do you have an example?

[2021-09-01 16:00] jfaure commented on #360
Allocating a tagged union: you want to allocate enough space for the biggest member (this cannot reliably be achieved by inspecting the llvm-hs types who don't know the pointer size and alignment details)

[2021-09-01 16:31] andrew-wja commented on #360
Ah, I see. I was only thinking about datatypes that LLVM provides, but a tagged union is indeed tricky. You would need to iterate over the union types and statically determine which is largest. Using `gep` only works if you can define the type using the builtin types already provided by LLVM!

Sounds like the use case is `maximumBy (comparing getTypeAllocSize)`, which we can add to the tests to ma

[2021-09-02 12:06] jfaure opened #362 "Add support for unnamed_addr and local_unnamed_addr Functions"
How do i mark a function as unnamed_addr ?
It seems this is only possible for GlobalVariable and GlobalAlias
<https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/src/LLVM.AST.Global.html#Global>

[2021-09-02 12:56] andrew-wja commented on #362
It seems that you can't! This is a bug. According to the LLVM [language reference manual](https://llvm.org/docs/LangRef.html#functions), Functions can be marked `unnamed_addr` or `local_unnamed_addr`.

[2021-09-02 13:06] andrew-wja opened #363 "Remove TemplateHaskell and hsc2hs dependency"
This has been flagged as a blocker for the use of llvm-hs in GHC, since the use of both hsc2hs and TemplateHaskell impedes cross-compilation.

It appears that the TemplateHaskell and the hsc2hs portions of the codebase have not been touched in a long time, possibly since before our fork from llvm-general. Neither are strictly necessary, and in fact, the codebase would be more maintainable and more

[2021-09-03 16:41] jfaure commented on #360
A couple other use-cases:
1. Checking if a struct field containing a pointer is large enough for a some other operand.
2. Checking if a previous alloca or struct field is reusable (avoid making llvm figure it out with llvm.lifetime.(start|end) intrinsics)
3. Checking if a struct is small enough to be returned by value (system V ABI allows using 2 64 bit registers for this, and sadly it is up to th

[2021-09-17 14:51] luc-tielen commented on #360
I just ran also in the issue of needing `DataLayout` functionality.
Here's the C code I'm trying to port:

[code]

Basically: I need "`sizeof`" so that I can use that result during codegen to determine length of an array in some other type.

[2021-09-17 14:54] jfaure commented on #360
I added this as a sort of hack some time back <https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-AST-Constant.html#v:sizeof>

[2021-09-17 15:36] luc-tielen commented on #360
@jfaure I don't think that works? `ArrayType` requires a `Word64` for size: https://hackage.haskell.org/package/llvm-hs-pure-9.0.0/docs/LLVM-AST-Type.html#t:Type

[2021-09-17 15:50] jfaure commented on #360
That's no problem; It wraps the type with some llvm instructions, the size won't be available for you like with datalayout, but you can use it in the emitted llvm where it will hopefully be constant folded

[2021-09-17 16:32] luc-tielen commented on #360
@jfaure How then? It just doesn't typecheck..? Also there's no function to go from `Constant` to `Word64`.. and the other functions in that module are partial and would error out if I tried converting that way.
I would prefer defining my types all using the `typedef` function which uses the `LLVM.AST.Type` I mentioned earlier. For this I think the only way is with `DataLayout`..

BTW: here's what

[2021-09-17 17:06] andrew-wja commented on #360
@luc-tielen I understand what you want to do, but I don't think it's possible with `llvm-hs` right now, so you're correct to post under this issue.

LLVM wants you to pass an integer to the `ArrayType` constructor, even in C++: https://llvm.org/doxygen/classllvm_1_1ArrayType.html#adf411edc4f135b570ab218079474ce77

So you really do need to ask libLLVM through an IO operation what the size of the la

[2021-09-17 21:19] luc-tielen commented on #360
This got me a little further for my specific case (it looks like some datalayout functionality is exposed in internals?):
[code]

This snippet works if you use `i8` or any of the other builtin types instead of `s` in the `encodeM` function, but with my custom struct I get `EncodeException "reference to undefined type: Name \"struct_t\""`

If I could get an up-to-date `DataLayout` inside the `Modul

[2021-09-22 09:48] jfaure opened #364 "llvm-12"
llvm-hs-9 is the latest version indexed on hackage, why are we so far behind?

[2021-09-29 12:35] luc-tielen commented on #364
@jfaure probably because Haskell has a smaller community, and thus libraries like these can lag behind..

[2021-10-05 03:48] juhp commented on #364
It would certainly be great to have new release(s) on Hackage :-)

[2021-10-06 14:04] andrew-wja commented on #360
@luc-tielen mixing and matching between the high-level `llvm-hs-pure` and low-level `llvm-hs` FFI interface directly in this way is uncharted territory, but it makes sense that builtin types should always be visible.

I think what is happening is that the explicit `runEncodeAST` is blowing away the local encode state, so the type definition is no longer visible. If you look at what happens in the

[2021-10-11 06:58] luc-tielen opened #366 "Current handling of terminators in IR builder limits composability"
Hi,

Recently I've been using the IR builder of this repository to generate a lot of LLVM IR.
I ended up making my own control flow constructs using combinators in Haskell, but I noticed that the handling of terminators gets in the way of composability.

Here's an example with a "one-sided if" (but looping constructs have the same issue):

[code]

Here, the `br end` instruction is always done afte

[2021-10-14 09:50] aboeglin opened #369 "Updating hackage"
I’ve never published a package to hackage, but what does it take? If anyone would point me in the direction I’d be happy to help. The last update is from 2019. There are important changes in between like sizeof that would be nice to have.

[2021-10-15 11:42] andrew-wja opened #370 "Apply changes from #367 to the llvm-12 branch"
The first-terminator-wins behaviour from https://github.com/llvm-hs/llvm-hs/pull/367 needs to be applied to the llvm-12 branch also.

[2021-10-15 11:44] andrew-wja commented on #370
Addressed by #368

[2021-10-15 11:44] #370 closed, assigned to nobody

[2021-10-15 11:56] andrew-wja commented on #364
As @luc-tielen says, the number of people contributing to llvm-hs is tiny compared to the number of people contributing to LLVM, so we are naturally going to be slower at releasing new versions. LLVM has changed a lot since LLVM 9, and there's quite a bit to be done to bring bindings up to date.

The LLVM official Ocaml and C bindings don't actually expose all of the C++ API, and they are also par

[2021-10-15 12:17] andrew-wja commented on #366
Addressed by #367 and #370

[2021-10-15 12:17] #366 closed, assigned to nobody

[2021-10-15 12:24] andrew-wja commented on #369
Hi @aboeglin, publishing a package to Hackage requires having a Hackage acount and being added as a maintainer on Hackage by one of the current Hackage maintainers. There are indeed some important changes that would be nice to have, but there are also some issues that need to be fixed. I've just updated the corresponding [milestone](https://github.com/llvm-hs/llvm-hs/milestone/3) to reflect this.

[2021-10-15 12:44] luc-tielen commented on #364
Also @andrew-wja, I've contacted the Haskell Foundation about potentially getting some funding for this library. I think LLVM is very important for Haskell because it's often used for compilers, so it makes sense (imo) to have proper support for these bindings.
Haven't heard back from them yet though.

[2021-10-15 12:56] luc-tielen commented on #369
Or you can even skip the git submodule and do it all in stack directly:
Here's an example stack.yaml I have in one of my own repo's, only need to swap out the commit:
[code]

[2021-10-15 20:33] niconaus opened #371 "LLVM-config version 9 required"
I'm not sure if it is just my lack of knowledge, or if there is an issue with this package, but I tried to install llvm-hs with cabal, and I get the following error:

[code]

Any suggestions are greatly appreciated!

[2021-10-16 10:50] luc-tielen commented on #371
@niconaus If you look at the logs, you are fetching/building llvm-hs-9.x.x, which is based on llvm-9 branch of this repo. The versioning of this library is made to align with LLVM, so you will need to install LLVM 9 on your machine. IIRC, on an Ubuntu machine this is `sudo apt install llvm-9`.

[2021-10-16 17:00] aboeglin commented on #369
Really nice I didn’t know it was possible. Should we add this information to the readme? If yes I’m happy to open a PR for it in the coming week.

[2021-10-17 12:21] luc-tielen commented on #369
Yeah, something like: "If you want to use a specific commit of llvm-hs(-pure), you can use the following snippet: ..."

[2021-10-18 15:49] #371 closed, assigned to nobody

[2021-10-18 15:49] niconaus commented on #371
Thank you, this solved the issue for me!

[2021-11-02 13:21] UnkindPartition commented on #341
I think addDynamicLibrarySearchGeneratorForCurrentProcess might be doing more or less the same thing in your case as loadLibraryPermanently. Try (a) removing both calls and (b) removing addDynamicLibrarySearchGeneratorForCurrentProcess but leaving loadLibraryPermanently and see if that confirms my hypothesis.

Also,

Though this does not seem to be documented anywhere, loadLibraryPermanently retur

[2021-11-03 14:46] cwgoes commented on #364
If funding is the bottleneck here, we (Heliax) can also perhaps help. Who should I get in touch with?

[2021-11-03 19:10] myShoggoth commented on #364
Me! Email me at andrew@haskell.foundation and we can discuss how to make this happen. Any other companies for whom this is important, please do the same. We can pool resources.

[2021-11-03 23:13] shrebhan opened #372 "build issue while installing llvm-hs"
I started out with haskell only recently and I am facing certain issues in the llvm-hs package installation. This package needs a build which seems to be failing -
[code]

My cabal versionis  3.6.2 and haskell version is 9.2.1 on Ubuntu 16.04.7 LTS xenial
I had posted this in beginners mailer list, but didn't get a response, hence posting on this repo.
Thanks!

[2021-11-07 09:17] alissa-tung commented on #372
GHC 9.2.1 is equipped with base-4.16.0.0, which is too new for constraints required by some packages.
8.10.7 is recommended for most use cases. (2021-11-7)

[2021-11-08 15:52] shrebhan commented on #372
Thanks @alissa-tung for your response!
I have my ghc version down to 8.10.7 now and getting build issues while trying to install llvm-hs -

[code]
the error list keeps going on
the clang and llvm-config version are 9
[code]

[2021-11-09 16:01] #372 closed, assigned to nobody

[2021-11-11 17:32] luc-tielen commented on #360
@andrew-wja I tried my hand at it today, but a fix is non-obvious (atleast to me).
The IR / Module builder monad keeps the definitions hidden internally.. you can extract them if you make a variant of `runEncodeAST` that runs in `ModuleBuilderT IO a` basically, but then I tried reusing some other functionally and got stuck with a cycle in my imports..

[2021-11-14 19:06] luc-tielen commented on #360
Did another attempt today:
[code]

This prints out size = 16 for me. Not obvious at all, but it works. Now I need to refactor it and figure out a way to nicely integrate it in my compiler :sweat_smile:.

[2021-11-18 21:52] aboeglin opened #375 "How to generate coverage?"
I've been searching and trying around all night with no success, mostly tried different linker options and playing with the GCOVProfiler Pass without success. So I thought I'd eventually ask for help.
So currently I do:
- generate the IR with the builder from llvm-hs-pure
- run a pass manager with only one pass: `defaultGCOVProfiler`
- use `writeObjectToFile` to my dest folder
- link it

I'd expec

[2021-11-28 16:22] aboeglin commented on #268
What would be the solution here? I think we should probably just use a non fatal solution and try to remove the prefix or default to the original value. Something like:
[code]

[2021-11-29 07:59] aboeglin commented on #268
Well, that led to this error:
[code]
the list goes on and on. Because `words` splits spaces in paths. Not sure how to fix that one yet but that would also break for non conventional installations on POSIX systems.

[2021-12-02 18:46] aboeglin commented on #372
Running into this, how did you solve it @shrebhan?

[2021-12-03 22:24] aboeglin commented on #268
@Ailrun Well it's been two years now so you may not even be interested in it anymore. But I have successfully managed to make it run on win64 finally. So the steps were basically what I highlighted above + a dirty fix for paths with spaces where if two consecutive libs end with Program and start with Files, I put them back together. Also that's kind of ok as I think that's the main one that we mig

[2021-12-03 22:29] aboeglin commented on #268
@cocreature I'd be happy to submit a PR with the few changes I have on my fork. What branch should I target? Ideally that should be updated for all versions from my point of view.

[2021-12-05 03:55] shrebhan commented on #372
Hi @aboeglin I updated my gcc version to the latest one

[2022-03-20 11:33] sternenseemann opened #390 "Control.Monad.Trans.AnyCont fails to type check with GHC >= 9.0"
Tested with `llvm-9` branch.

[code]

[2022-03-20 15:03] pnotequalnp commented on #390
There's a commit that fixes it here: https://github.com/llvm-hs/llvm-hs/commit/227a33c183a4abc5dfbee50081ee793348e38355#diff-43a9a5abe18ac7eb9d8786759d37e792224ecd992f984cc18608159249b6dfbb
Seems it would just need to be backported to the `llvm-9` branch.

[2022-03-29 09:30] wujilingfeng opened #391 "The program 'llvm-config' version ==9.0.* is required but it could not be found."
![Screenshot from 2022-03-29 17-29-41](https://user-images.githubusercontent.com/35684738/160580760-324c77c2-87a1-491b-8c5d-40b484ab4f90.png)

How to solve this error?
I have installed llvm-6.0 by the command `sudo apt install llvm-6.0`.I didn't install clang.

[2022-03-30 10:46] tmcdonell commented on #391
Clang is not required, but the `llvm-9` package is. You should be able to get it via https://apt.llvm.org

Note that it should be 9.0. I think there was also a 9.1 or so, but the configure script won't like that.

[2022-04-15 02:30] shrebhan commented on #282
@cocreature @ogerlach  Hello! I am facing this issue while parsing a .ll file generated using gllvm, and I want to build llvm-hs from source, are there any steps for this using Cabal ? My project isn't a big project so it doesn't have a project file, I've done all the installation manually. I have cloned the llvm-hs repo, checked out to the llvm-9 branch (which has this fix - https://github.com/ll

[2022-04-15 17:06] MaskRay opened #392 "LLVM’s legacy pass manager passes for instrumentations will go away"
Using LLVM's legacy PM for optimization pipeline was [deprecated in 13.0.0](https://releases.llvm.org/13.0.0/docs/ReleaseNotes.html#changes-to-the-llvm-ir) and the relevant functionality was scheduled to be removed after 14.0.0 (got delayed). Clang dropped legacy PM support in [D123609](https://reviews.llvm.org/D123609) (milestone: 15.0.0). I plan to remove instrumentation passes like gcov, PGO, a

[2022-04-20 00:10] moll commented on #295
Took another look and ironically [`extractValueType`](https://github.com/llvm-hs/llvm-hs/blob/llvm-9/llvm-hs-pure/src/LLVM/AST/Typed.hs#L174) is still broken given named references, though [`extractValue`](https://github.com/llvm-hs/llvm-hs/blob/47ed4d900aaa8ed2b74726cfc2eeeeb029a1f165/llvm-hs-pure/src/LLVM/IRBuilder/Instruction.hs#L293)  seems to utilize [`indexTypeByOperands`](https://github.com

[2022-04-20 00:23] moll commented on #295
Oh, noticed the refactored `typeOf` also calls `extractValueType` given a constant `ExtractValue` and therefore errs.

[2022-04-20 19:55] shterrett opened #394 "LLVM 9.0.1 Symbol Not Found"
Perhaps similar to https://github.com/llvm-hs/llvm-hs/issues/391

I see the following
[code]
when trying to build what is basically the kaledioscope project. Cabal file
[code]

[2022-05-03 23:13] frank-yuzhige opened #400 "Enum out of sync when building llvm-hs via stack"
Hi, I got the following error when building llvm-hs using stack:
[code]
The `llvm-9` on the same machine was built under the following `cmake` configuration:
[code]

[2022-05-15 21:19] naddika opened #402 "(wrong repo)"
(wrong repo)

[2022-05-15 21:20] #402 closed, assigned to nobody

[2022-05-16 15:48] frank-yuzhige commented on #400
It appears that `cabal` would use system's `PATH` to determine where `llvm`'s header files are, and for some reason it used certain header files from the other version of `llvm` on my machine, which defines these enums in a quite different way. Another build with the other `llvm` being excluded from the `PATH` went OK. Thus I do not think this is a bug in `llvm-hs`.

[2022-05-16 15:48] #400 closed, assigned to nobody

[2022-05-25 11:32] apaszke commented on #392
This should be fixed in llvm-unstable-head.

[2022-05-25 11:32] #392 closed, assigned to nobody

[2022-09-06 19:59] #375 closed, assigned to nobody

[2022-11-13 20:37] noahmartinwilliams opened #412 "llvm-15 branch won't compile for llvm 15."
When I download the llvm-15 branch and do "stack build" it returns the error message in the attached file.
[errors.txt](https://github.com/llvm-hs/llvm-hs/files/9998150/errors.txt)

[2022-11-26 23:58] vthemelis commented on #391
Hi, I'm having the same issue. I do have llvm-9 installed but the setup script tries to use version 12.

Exact message:
[code]

Is there a parameter I can pass somewhere to make ghc look at the llvm 9 install location instead?